<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta নাম
="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/js/all.min.js">
    <link rel="stylesheet" href="./assets/css/main-menu.css">
    <script src="./assets/js/main-menu.js"></script>
  </head>
  <body>


    <div class="app">


      <main class="project">

        <!-- navigation bar -->
        <div class="container">

          <nav class="main-nav">
            <img
              src="./assets/images/annada.jpeg"
              class="logo"
            />
            <ul class="main-menu">
              <li><a href="/">হোমপেজ</a></li>
              <li><a href="/http://127.0.0.1:5500/page1.html">শিক্ষার্থীদের তথ্য</a></li>
              <li><a href="/http://127.0.0.1:5500/dist-page1.html">বই বিতরণী তথ্য</a></li>
              <li><a href="#">লগ আউট</a></li>
            </ul>
          </nav>
          
        </div>

        <!-- student info row -->
        <div class="project-info">
            <h1>তথ্য এন্ট্রি করুন</h1>
        </div>
        <div class="project-tasks">
            <div class="project-column std-info">

                <a href="/std-entry">
                  <div class="task" >
                    <div class="task__tags">
                      <span class="task__tag task__tag--copyright">Students Entry</span>
                       
                    </div>
                    <p>এখানে ক্লিক করুন প্রথম শ্রেণির ছাত্র/ছাত্রীর তথ্য এন্ট্রি করার জন্যে
                    </p>
                 
                  </div>
              </a>
                <a href="/distributed-book-entry">
                    <div class="task" >
                      <div class="task__tags">
                        <span class="task__tag task__tag--copyright">Distributed Books Entry</span>
                         
                      </div>
                      <p>এখানে ক্লিক করুন দ্বিতীয় শ্রেণির ছাত্র/ছাত্রীর তথ্য এন্ট্রি করার জন্যে</p>
                   
                    </div>
                </a>
                <a href="/bookfrom-ntcb-entry">
                    <div class="task" >
                      <div class="task__tags">
                        <span class="task__tag task__tag--copyright">Book from NCTB</span>
                         
                      </div>
                      <p>এখানে ক্লিক করুন তৃতীয় শ্রেণির ছাত্র/ছাত্রীর তথ্য এন্ট্রি করার জন্যে</p>
                   
                    </div>
                </a>
                

            </div>
        </div>
    
      </main>
      
  </body>
</html>
