<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Home Page</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" />
  <link rel="stylesheet" href="./assets/css/style.css" />
</head>

<body>
  <div class="menu-btn">
    <i class="fas fa-bars fa-2x"></i>
  </div>

  <div class="container">
    <!-- Nav -->
    <nav class="main-nav">
      <img src="./assets/images/annada.jpeg" alt="logo" class="logo" />

      <ul class="main-menu">
        <li>
          <a href= "/" class="nav-link" style="font-weight: 600">হোম</a>
        </li>
        <li>
          <a href="/http://127.0.0.1:5500/page1.html" class="nav-link" style="font-weight: 600">শিক্ষার্থীদের তথ্য</a>
        </li>
        <li>
          <a href="/http://127.0.0.1:5500/login.html" class="nav-link" style="font-weight: 600">অ্যাডমিন অথরাইজেশন</a>
        </li>
      </ul>
    </nav>

    <!-- Showcase -->
    <header class="showcase" style="background-image: url(./assets/images/bg-8.jpg);">
      <a href="http://www.nctb.gov.bd/site/page/85da3a9e-fd7f-4b2f-be74-f8e6637ae785/-" target="_blank" class="btn">
        জাতীয় শিক্ষাক্রম ও পাঠ্যপুস্তক বোর্ড (এনসিটিবি)<i class="fas fa-chevron-right"></i>
      </a>
    </header>

    <div class="contain">
      <div class="row">
        <div class="row-title">
          <h1 class="row-title">বড়চাপা সরকারি প্রাথমিক বিদ্যালয়
          </h1>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="col-img"><img src="./assets/images/1.png" alt="" srcset="" /></div>
          <div class="col-des1">
            <div class="col-stuff">
              <h1 class="col-title">বই বিতরণী তালিকা সম্পর্কে নিম্নুক্ত নিয়মপ্রণালী অনুসরণ করুন</h1>
            </div>
            <div class="col-stuff">
              <p class="col-para" style="line-height: 2;">
                ১.কর্তৃপক্ষ প্রদানকৃত সঠিক নাম এবং পাসওয়ার্ড দিয়ে প্রবেশ করুন <br>
                ২.প্রতি ক্লাসের শিক্ষার্থীদের তথ্য তালিকা প্রদান করুন <br>
                ৩.দাখিলকৃত বই বিতরণী তথ্য প্রদান করুন <br>
                ৪. বই সমূহের উপজেলা শিক্ষা অফিস থেকে প্রাপ্ত বই সমূহের তথ্য তালিকা প্রদান করুন <br>
                ৫. কোন প্রকার ত্রুটি এড়ানোর স্বার্থে তথ্য প্রদানে সাবধানতা অবলম্বন করুন<br>
                <br>
                "প্রাথমিক পর্যায়ের সকল শিক্ষার্থীর বিনামূল্যে পাঠ্য পুস্তক প্রদানের উদ্যোগে সহায়ক ভূমিকায় এনসিটিবি
                কর্তৃক বই বিতরণী
                সিস্টেম"
                <br>
              </p>
            </div>
            <div class="col-stuff">
              <h2 class="col-title-end">মোসাদ্দেক আযম সিদ্দিকী</h2>
            </div>

            <div class="col-stuff">
              <p class="col-para">মহাপরিচালক, প্রাথমিক শিক্ষা অধিদপ্তর'</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="col-des2">
            <div class="col-stuff">
              <h1 class="col-title">শিক্ষার্থীদের তথ্য দেখার জন্য নির্দেশনাবলি</h1>
            </div>

            <div class="col-stuff">
              <p class="col-para">

                ১.হোমপেজের ন্যাভিগেশন সেকশনে "শিক্ষার্থীদের তথ্য" বাটনে
                ক্লিক করুন<br>
                ২.প্রতি ক্লাসের শিক্ষার্থীদের ক্লাস অনুযায়ী বিভাজিত সেকশন বিদ্যমান রয়েছে <br>
                ৩.দাখিলকৃত বই বিতরণী তথ্য প্রদান করুন <br>
                ৪. বই সমূহের উপজেলা শিক্ষা অফিস থেকে প্রাপ্ত বই সমূহের তথ্য তালিকা প্রদান করুন <br>
                ৫. কোনো অভিযোগ কিংবা তথ্য সংশুধনের
                প্রয়োজনীয়তায় সরাসরি শ্রেণি
                শিক্ষকের সাথে যোগাযোগ করুন<br>
                <br>

                শিক্ষার্থীদের পাঠ্যপুস্তক প্রাপ্তি নিশ্চয়তার জন্য ডিজিটালাইজেশন প্রক্রিয়া

              </p>
            </div>
            <div class="col-stuff">
              <h2 class="col-title-end">রাশেদুল করিম (রুবেল)</h2>
            </div>
            <div class="col-stuff">
              <p class="col-para">উপপরিচালক, প্রাথমিক শিক্ষা অধিদপ্তর'</p>
            </div>
          </div>
          <div class="col-img">
            <img src="./assets/images/2.png" alt="" srcset="" />
          </div>
        </div>
      </div>
    </div>

    <!-- Follow -->
    <section class="follow">
      <p>এনসিটিবিকে অনুসরণ করুন</p>
      <a href="https://www.facebook.com/nctb.bd/" target="_blank">
        <img src="https://i.ibb.co/LrVMXNR/social-fb.png" alt="Facebook" />
      </a>
      <a href="http://www.nctb.gov.bd/" target="_blank">
        <img src="https://i.ibb.co/vJvbLwm/social-twitter.png" alt="Twitter" />
      </a>
      <a href="http://www.nctb.gov.bd/" target="_blank">
        <img src="https://i.ibb.co/b30HMhR/social-linkedin.png" alt="Linkedin" />
      </a>
    </section>
  </div>
  <!-- Links -->
  <section class="links">
    <div class="links-inner">
      <ul>
        <li>
          <h3>What's New</h3>
        </li>
        <li>
          <a href="https://nctb.portal.gov.bd/site/page/1e4f161b-f9c0-43b4-85e9-37fb2c4e51f1/-">E-learning</a>
        </li>
        <li>
          <a
            href="http://www.nctb.gov.bd/site/page/9a90c854-ce5f-4d77-9915-1ecd0953079d/%E0%A6%8F%E0%A6%B8%E0%A6%8F%E0%A6%B8%E0%A6%B8%E0%A6%BF-%E0%A6%93-%E0%A6%8F%E0%A6%87%E0%A6%9A%E0%A6%8F%E0%A6%B8%E0%A6%B8%E0%A6%BF-%E0%A6%AA%E0%A6%B0%E0%A7%80%E0%A6%95%E0%A7%8D%E0%A6%B7%E0%A6%BE%E0%A6%B0-%E0%A6%AA%E0%A7%81%E0%A6%A8%E0%A6%B0%E0%A7%8D%E0%A6%AC%E0%A6%BF%E0%A6%A8%E0%A7%8D%E0%A6%AF%E0%A6%BE%E0%A6%B8%E0%A6%95%E0%A7%83%E0%A6%A4-%E0%A6%AA%E0%A6%BE%E0%A6%A0%E0%A7%8D%E0%A6%AF%E0%A6%B8%E0%A7%82%E0%A6%9A%E0%A6%BF">Curriculum
            Shift</a>
        </li>
      </ul>
      <ul>
        <li>
          <h3>NCTB books</h3>
        </li>
        <li>
          <a
            href="http://www.nctb.gov.bd/site/page/7d340c76-9d5f-4b33-b320-290253946421/%E0%A6%AA%E0%A7%8D%E0%A6%B0%E0%A6%BE%E0%A6%95-%E0%A6%AA%E0%A7%8D%E0%A6%B0%E0%A6%BE%E0%A6%A5%E0%A6%AE%E0%A6%BF%E0%A6%95,-%E0%A6%AA%E0%A7%8D%E0%A6%B0%E0%A6%BE%E0%A6%A5%E0%A6%AE%E0%A6%BF%E0%A6%95-%E0%A6%93-%E0%A6%87%E0%A6%AC%E0%A6%A4%E0%A7%87%E0%A6%A6%E0%A6%BE%E0%A7%9F%E0%A7%80">Information
            about books</a>
        </li>
        <li><a href="#">Detail booklist</a></li>
      </ul>
      <ul>
        <li>
          <h3>Education</h3>
        </li>
        <li>
          <a
            href="http://www.nctb.gov.bd/site/page/c3b252ef-f047-4101-a197-52bb1de87558/%E0%A6%B6%E0%A6%BF%E0%A6%96%E0%A6%A8-%E0%A6%98%E0%A6%BE%E0%A6%9F%E0%A6%A4%E0%A6%BF-%E0%A6%9A%E0%A6%BF%E0%A6%B9%E0%A7%8D%E0%A6%A8%E0%A6%BF%E0%A6%A4%E0%A6%95%E0%A6%B0%E0%A6%A3-%E0%A6%93-%E0%A6%A8%E0%A6%BF%E0%A6%B0%E0%A6%BE%E0%A6%AE%E0%A7%9F%E0%A6%AF%E0%A7%8B%E0%A6%97%E0%A7%8D%E0%A6%AF-%E0%A6%AA%E0%A6%BE%E0%A6%A0-%E0%A6%AA%E0%A6%B0%E0%A6%BF%E0%A6%95%E0%A6%B2%E0%A7%8D%E0%A6%AA%E0%A6%A8%E0%A6%BE">Education
            for everyone</a>
        </li>
        <li><a href="https://www.grs.gov.bd/">Support</a></li>
      </ul>
    </div>
  </section>

  <!-- Footer -->
  <footer class="footer">
    <div class="footer-inner">
      <div><i class="fas fa-globe fa-2x"></i> English (United States)</div>
      <ul>
        <li>
          <a href="https://nctb.gov.bd/site/view/sitemap/Sitemap">Sitemap</a>
        </li>
        <li>
          <a href="http://nctb.muktopaath.gov.bd/contact-us">Contact NCTB</a>
        </li>
        <li><a href="http://www.nctb.gov.bd/">Privacy & cookies</a></li>
        <li>
          <a
            href="http://www.nctb.gov.bd/site/view/law/-/%E0%A6%A8%E0%A7%80%E0%A6%A4%E0%A6%BF%E0%A6%AE%E0%A6%BE%E0%A6%B2%E0%A6%BE-">Terms
            of use</a>
        </li>
        <li><a href="http://www.nctb.gov.bd/">Trademarks</a></li>
        <li>
          <a
            href="http://www.nctb.gov.bd/site/page/03dccfad-9209-4710-a685-3648311eb924/%E0%A6%B8%E0%A7%87%E0%A6%AC%E0%A6%BE-%E0%A6%AA%E0%A7%8D%E0%A6%B0%E0%A6%A6%E0%A6%BE%E0%A6%A8-%E0%A6%AA%E0%A7%8D%E0%A6%B0%E0%A6%A4%E0%A6%BF%E0%A6%B6%E0%A7%8D%E0%A6%B0%E0%A7%81%E0%A6%A4%E0%A6%BF">Safety
            & eco</a>
        </li>
        <li>
          <a
            href="http://www.nctb.gov.bd/site/view/news/%E0%A6%AA%E0%A7%8D%E0%A6%B0%E0%A7%87%E0%A6%B8-%E0%A6%B0%E0%A6%BF%E0%A6%B2%E0%A6%BF%E0%A6%9C-%E0%A6%96%E0%A6%AC%E0%A6%B0-">About
            our ads</a>
        </li>
        <li>
          <a href="http://www.nctb.gov.bd/site/page/3318f1ce-a485-416b-bd4c-38aa0300c508/-">&copy; NCTB 2020</a>
        </li>
      </ul>
    </div>
  </footer>
</body>

</html>