<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta নাম
="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"
    />
    <link
      rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.0/css/bootstrapValidator.min.css"
    />
    <link rel="stylesheet" href="/form.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.0/css/bootstrapValidator.min.css"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.4.5/js/bootstrapvalidator.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"
      type="text/javascript"
    ></script>
    <script src="form.js"></script>
  </head>

  <body>
    <div class="container">
      <form
        class="well form-horizontal"
        action=" "
        method="post"
        id="contact_form"
      >
        <fieldset>
          <!-- Text input-date -->

          <div class="form-group">
            <label class="col-md-4 control-label">তারিখ</label>
            <div class="col-md-4 inputGroupContainer">
              <div class="input-group">
                <span class="input-group-addon"
                  ><i class="glyphicon glyphicon-calendar"></i
                ></span>
                <input
                  নাম
="date"
                  placeholder="তারিখ"
                  class="form-control"
                  type="date"
                />
              </div>
            </div>
          </div>

          <!-- Text input-class -->
          <div class="form-group">
            <label class="col-md-4 control-label">শ্রেণি </label>
            <div class="col-md-4 inputGroupContainer">
              <div class="input-group">
                <span class="input-group-addon"
                  ><i class="glyphicon glyphicon-home"></i
                ></span>
                <select নাম
="class" class="form-control selectpicker">
                  <option value=" ">শ্রেণি নির্বাচন করুন</option>
                  <option>১</option>
                  <option>২</option>
                  <option>৩</option>
                  <option>৪</option>
                  <option>৫</option>
                </select>
              </div>
            </div>
          </div>

          <!-- Text input-subject's নাম
 -->
          <div class="form-group">
            <label class="col-md-4 control-label">বিষয়</label>
            <div class="col-md-4 inputGroupContainer">
              <div class="input-group">
                <span class="input-group-addon"
                  ><i class="glyphicon glyphicon-book"></i
                ></span>
                <input
                  নাম
="subject"
                  placeholder="কোন বিষয়ের বই"
                  class="form-control"
                  type="text"
                />
              </div>
            </div>
          </div>

          <!-- Text input-book number -->
          <div class="form-group">
            <label class="col-md-4 control-label">বইয়ের সংখ্যা </label>
            <div class="col-md-4 inputGroupContainer">
              <div class="input-group">
                <span class="input-group-addon"
                  ><i class="glyphicon glyphicon-list-alt"></i
                ></span>
                <input
                  নাম
="book number"
                  placeholder="বইয়ের সংখ্যা"
                  class="form-control"
                  type="number"
                />
              </div>
            </div>
          </div>

          <!-- Success message -->
          <div class="alert alert-success" role="alert" id="success_message">
            সাবমিটেড
            <i class="glyphicon glyphicon-thumbs-up"></i> তথ্য গ্রহণ করা হয়েছে,
            অল্প সময় অপেক্ষা করুন
          </div>

          <!-- Submit Button -->
          <div class="form-group">
            <label class="col-md-4 control-label"></label>
            <div class="col-md-4">
              <button type="submit" class="btn btn-warning">
                সাবমিট <span class="glyphicon glyphicon-send"></span>
              </button>
            </div>
          </div>
        </fieldset>
      </form>
      <a href="/data-entry">
        <button class="back-btn">Back</button>
      </a>
    </div>
  </body>
</html>
